<!DOCTYPE html>
<html>
<head>
	<title>Reservation</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../Header & Footer/HF.css">
	<link rel="stylesheet" type="text/css" href="Reservation.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="header">
		<center>
			<h1>Moal Foodie</h1>
			<p class="subtitle">Restaurant and Coffe</p>
		</center>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/menu">Menu</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/reservation">Reservation</a></li>
		</ul>
	</div>
	<div>
		<img src="../Assets/image-3.jpg" class="f-reserver">
		<div class="square"></div>
		<p class="title" style="color: #E9B947; font-size: 45px; line-height: 95px; text-align: left; letter-spacing: 15%; ">Reservation</p>
	</div>
	<div class="Reservation">
		<div class="formR">
			<p style="font-size: 35px; letter-spacing: 15%;">Reservation Form</p>
			<div class="garis"></div>
				<form>
					<div>
						<p>Name</p>
						<input type="text" name="" class="form-control" placeholder="Name" required>
					</div>
					<div>
						<p>Email</p>
						<input type="text" name="" class="form-control" placeholder="Email" required>
					</div>
					<div>
						<p>Phone</p>
						<input type="text" name="" class="form-control" placeholder="Phone" required>
					</div>
					<div>
						<p>Number of Guest</p>
						<input type="text" name="" class="form-control" placeholder="Number of Guest" required>
					</div>
					<div>
						<p>Date</p>
						<input type="Date" name="" class="form-control" required>
					</div>
					<div>
						<p>Time</p>
						<td><input type="text" name="" class="form-controlT" required></td>
						<td>
							<select class="form-controlT">
								<option>AM</option>
								<option>PM</option>	
							</select>
						</td>
					</div>
					<div>
						<p>Reservation Type</p>
							<select class="form-control" required>
								<option></option>
								<option>Dinner</option>
								<option>VIP</option>
								<option>Anniversary</option>
								<option>Private</option>
								<option>Wedding</option>
								<option>Other</option>		
							</select>
					</div>
					<div>
						<p>Special Request</p>
						<textarea class="form-controlM"></textarea>
					</div>
					<input type="submit" class="tombolS">
				</form>
		</div>
		<div class="ContactInfo">
			<p style="font-size: 35px; text-align: left; letter-spacing: 15%;">Contact Information</p>
			<div class="garis"></div>
			<div class="info">
				<img src="../Assets/maps-and-flags.png" class="picture">
				<span style="padding-left: 10px;">257 Dayeuhkolot, Bandung, Jawa Barat</span>
			</div>
			<div class="info">
				<img src="../Assets/black-back-closed-envelope-shape.png" class="picture">
				<span style="padding-left: 10px;">Moal@foodie.com</span>
			</div>
			<div class="info">
				<img src="../Assets/phone-receiver.png" class="picture">
				<span style="padding-left: 10px;">022 - 072018</span>
			</div>
			<div class="info">
				<img src="../Assets/clock-circular-outline.png" class="picture">
				<span style="padding-left: 10px;">Mon - Sat: 9:00am - 10:00pm</span>
			</div>
			<div>
				<p style="font-size: 35px; text-align: left; letter-spacing: 15%;">Social Media</p>
				<div class="garis"></div>
				<div class="contact">
					<a href="#"><img src="..\Assets\facebook.png" class="logo"></a>
				</div>
				<div class="contact">
					<a href="#"><img src="..\Assets\instagram-symbol.png" class="logo"></a> 
				</div>
				<div class="contact">
					<a href="#"><img src="..\Assets\twitter-sign.png" class="logo"></a>
				</div>
				<div class="contact">
					<a href="#"><img src="..\Assets\social-google-plus-square-button.png" class="logo"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="sub-footer">
			<h1>Moal Foodie</h1>
			<p class="subtitle">Restaurant and Coffe</p>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
			<div class="information">
				<img src="../Assets/placeholder.png" class="picture">
				<span style="padding-left: 10px; ">257 Dayeuhkolot, Bandung, Jawa Barat</span>
			</div>
			<div class="information">
				<img src="../Assets/message-closed-envelope.png" class="picture">
				<span style="padding-left: 10px; ">Moal@foodie.com</span>
			</div>
			<div class="information">
				<img src="../Assets/phone-call.png" class="picture">
				<span style="padding-left: 10px; ">022 - 072018</span>
			</div>
		</div>
		<div class="sub-footer">
			<div class="services">
				<p style="color: white">SERVICES</p>
				<p><a href="#">> Menu</a></p>
				<p><a href="#">> Reservation</a></p>
				<p><a href="#">> About Us</a></p>
				<p><a href="#">> Faq's</a></p>
				<p><a href="#">> News</a></p>
				<p><a href="#">> Contact Us</a></p>
				<p><a href="#">> Terms & Condition</a></p>
			</div>
		</div>
		<div class="sub-footer">
			<div class="services">
				<p style="color: white">SUBSCRIBE</p>
				<div class="form">
					<form>
						<input type="text" name="email" placeholder="Enter Your Email" class="control">
						<input type="submit" class="tombol">
					</form>
				</div>
				<p style="color: white; margin-top: 20px;">Get latest news and update</p>
				<div class="line"></div>
				<div class="contact">
					<a href="#"><img src="..\Assets\facebook-logo.png" class="picture"> Facebook</a>
				</div>
				<div class="contact">
					<a href="#"><img src="..\Assets\instagram-logo.png" class="picture"> Instagram</a> 
				</div>
				<div class="contact">
					<a href="#"><img src="..\Assets\twitter-logo-silhouette.png" class="picture"> Twitter</a>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		Copyright © All Rights Reserved <a href="#" style="color: #E9B947; text-decoration: none;">Moal Foodie</a>
	</div>

</body>
</html>