* {
	font-family: 'Oswald', sans-serif;
}
.header {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 150px;
	background-color: #1C1C1C;
	color: #E9B947;
	padding-top: 15px;
	text-align: center;
}
.j-carousel{
	padding-top: 150px;
}
.jb-carousel{
	padding-top: 40px;
}
.subtitle{
	color: #BCB4B4;
	line-height: 5px;
	letter-spacing: 4px;
}
ul{
	padding: 0;
}
ul li {
	list-style-type: none;
	display: inline-block;
	margin: 10px;
}
ul li a{
	text-decoration: none;
	color: #E9B947;
}
ul li a:hover {
	text-decoration: none;
	color: #BCB4B4;
}
.services p a:hover, .contact a:hover {
	text-decoration: none;
	color: #E9B947;
}
.promo{
	position: absolute;
    bottom: 150px;
    width: 400px;
    height: 250px;
    background-color: black;
    left: 12%;
    opacity: 0.8;
    filter: alpha(opacity=60);
    padding: 20px;
    color: #fff;
}
.sub-promo{
	position: absolute;
    left: 12%;
    padding: 20px;
}
.tombolklik{
	position: absolute;
	width: 162px;
	height: 39px;
	left: 185px;
	top: 200px;
	background-color: #E9B947;
	border-radius: 5px;
	color: white;
	border: none;
}
.Menu{
	width: 100%;
	height: 500px;
	background-color: #1C1C1C;
	text-align: center;
	padding-top: 20px;
	color: #E9B947;
}
.our-menu{
	background-color: white;
	width: 85%;
	height: 300px;
	margin: 40px;
}
.gambar-menu{
	width: 173px;
	height: 280px;
	margin: 10px 10px;
}
.about{
	color: #E9B947;
	text-align: center;
	padding-top: 20px;
	height: 553px;
	width: 100%;
}
.desc{
	margin: 40px 0;
}
.foto-desc{
	width: 600px;
	height: 300px;
	float: left;
	padding: 0 50px;
}
.desc p{
	color: #1C1C1C;
	font-size: 22px;
	padding: 0 50px;
	text-align: justify;
}
.footer {
	width: 100%;
	height: 400px;
	background-color: #333333;
	color: #E9B947;
	padding-top: 15px;
}
.footer a{
	color: #BCB4B4;
}
.sub-footer{
	float: left;
    width: 33.33%;
    padding: 30px 50px;
    height: 350px;
}
.sub-footer p{
	letter-spacing: 2px;
	color: #BCB4B4;
}
.sub-footer h1{
	color: #E9B947;
}
.information {
	color: #BCB4B4;
	margin : 20px auto;
}
.picture{
	width: 24px;
	height: 24px;
}
.services{
	margin-top: 20px;
}
.control{
	border: 1px solid #ced4da;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 240px;
	height: 38px;
	padding: 0 30px;
}
.tombol{
	background-color: #E9B947;
	color: black;
	height: 38px;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -5px;  
}
.tombolread{
	background-color: #E9B947;
	color: white;
	width: 100px;
	height: 50px;
	border: none;
	border-radius: 5px;
	float: right;
	margin-right: 55px;
}
.line{
	width: 100%;
	height: 1px;
	background-color: white;
}
.contact{
	color: #BCB4B4;
	margin-top: 25px;
	padding: 0 5px;
	display: inline-block;
}
.copyright{
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #1C1C1C;
	padding: 10px 0;
	color: white;
}
